.footer {
    &__top {
        display: flex;
        justify-content: space-around;
        align-items: start;
    }

    &__list {
        &-title {
            font-family: Varta;
            font-size: 25px;
            font-weight: 600;
            color: #706458;
            margin-bottom: 20px;
        }

        &-item {
            display: block;
            font-family: Varta;
            font-size: 18px;
            font-weight: 400;
            text-decoration: none;
            margin-bottom: 15px;
            color: #706458;

            &:hover {
                color: #c2652f;
            }
        }
    }

    &__info {
        width: 240px;
        margin-bottom: 50px;

        &-title {
            font-family: Varta;
            font-size: 25px;
            font-weight: 600;
            color: #534b42;

            margin-bottom: 25px;
        }

        &-img {
            margin-bottom: 15px;
        }

        &-subtitle {
            font-family: Varta;
            font-size: 16px;
            font-weight: 400;
            color: #706458;

            margin-bottom: 15px;
        }

        &-btn {
            font-family: Karla;
            font-size: 17px;
            font-weight: 700;
            text-decoration: none;
            color: #a06056;

            display: inline-block;

            padding-right: 20px;
            margin-bottom: 15px;

            background: url(../img/arrow-right.svg) no-repeat;
            background-position: right center;

            &:hover {
                color: #c2652f;
            }
        }
    }

    &__contact {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;

        &-item {
            display: inline-block;
            margin-right: 25px;
            fill-opacity: 0.5;

            &:last-child {
                margin: 0;
            }

            & svg:hover {
                fill: #c2652f;
                fill-opacity: 1;
            }
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;

        padding-bottom: 70px;
    }

    &__copy {
        font-family: Varta;
        font-size: 18px;
        font-weight: 400;
        color: rgba(112, 100, 88, 0.7);
    }

    &__options {
        display: flex;

        &-item {
            display: inline-block;

            margin-right: 30px;

            text-decoration: none;
            font-family: Varta;
            font-size: 18px;
            font-weight: 400;
            color: rgba(112, 100, 88, 0.7);

            &:last-child {
                margin: 0;
            }

            &:hover {
                color: #000;
            }
        }
    }
}
